<p id="notice"><%= notice %></p>

<h1>Todo Lists</h1>

<% if @current_user.admin? %>
  <h3>Welcome, Admin.</h3>
<% else %>
  <h3>Welcome to your ToDo Lists Page</h3>
<% end %>

<%= form_tag todo_lists_path, method: :get do %>
  <%= text_field_tag 'term', params[:term], placeholder: "Enter user's name or surname" %>
  <%= submit_tag 'Search' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_lists.each do |todo_list| %>
      <tr>
        <td><%= todo_list.title %></td>
        <td><%= todo_list.description %></td>
        <td><%= link_to 'Show', todo_list %></td>
        <td><%= link_to 'Edit', edit_todo_list_path(todo_list) %></td>
        <td><%= link_to 'Destroy', todo_list, method: :delete, data: { confirm: 'Are you sure?', remote: true }, class: "delete" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todo List', new_todo_list_path %>

